@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Variables Generales */
:root{
    --color-black:#222222;
    --color-secundary:#dc3545;
    --text-color-primary:#FFFFFF;
    --color-border:rgb(234, 234, 234);
    --color-bg-secundary:rgb(218, 218, 218);
    --font-size-sm:12px;
    --font-size-md:16px;
    --font-size-lg:32px;
    --font-size-xl:64px;
}
/* Estilos Generales */
p::selection,
small::selection,
h3::selection,
h2::selection
{
    color: var(--text-color-primary);
    background-color: var(--color-secundary);
}
.container-principal{
    width: 100%;
}
.container{
    display: flex;
}
.activo{
    color: var(--color-secundary);
}
body{
    font-family: 'Quicksand', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-container{
    width: 80%;
}
.active{
    display: none;
}
/* Sidebar Navegación */
.sidebar{
    position: sticky;
    top: 0px;
    width: 30%;
    height: 100vh;
    background-color:var(--color-black);
    box-shadow: 1px 0px 1px 1px rgba(6, 6, 6, 0.516)
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.enlaces ul li{
    padding: 12px;
}
.enlaces a{
    font-size: var(--font-size-md);
    color: var(--text-color-primary);
}
.enlaces ul li a:hover{
    color: var(--color-secundary);
}

/* Perfil Profile */
.perfil{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}
.perfil p{
    color: var(--text-color-primary);
    font-size: var(--font-size-md);
}
.perfil p:nth-child(3) {
    color: var(--color-border);
    font-weight: 400;
    margin-top: 10px;
    font-size: var(--font-size-sm);
}
.perfil-photo{
    width: 120px;
    margin: 20px 0px;
    height: 120px;
    background: url("../img/80290606_2688262541241911_4132282224114401280_n.jpg"),center center;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid var(--color-border);
}
/* FIN DE SIDEBAR */



/* SECTION INICIO*/
.home-area{
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    position: relative;
}
.btntheme{
    position: absolute;
    border-radius: 20px;
    width: 120px;
    background-color: var(--text-color-primary);
    height: 40px;
    top: 10px;
    right: 20px;
    z-index: 2;
    display: flex;
    justify-content: start;
    padding: 10px;
    cursor: pointer;
    align-items: center;
}
.fa-moon{
    font-size: 20px;
    color: var(--text-color-primary);
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.fa-sun{
    font-size: 20px;
    color: var(--color-black);
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.desplazar{
    transform: translateX(80px) rotate(360deg);
}
.section-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/5926397/pexels-photo-5926397.jpeg?cs=srgb&dl=pexels-sora-shimazaki-5926397.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}
.title-name .name{
    color: var(--text-color-primary);
    font-size: var(--font-size-xl);
}
.color-name{
    color: var(--color-secundary);
}
.title-name{
    text-align: center;
}
.logo{
    width: 180px;
    margin: 0;
}
.work-description{
    color: var(--text-color-primary);
    font-size: var(--font-size-lg);
}



/* Section Container About */
.section-about-container{
    width: 100%;
    padding: 40px 40px;
}
.section-about-title{
    width: 100%;
    padding: 40px 0px;
}
.section-about-title >h2{
    font-size: var(--font-size-lg);
    margin: 10px 0;
    font-weight: bold;
}
.section-about-title p{
    font-size: var(--font-size-md);
}
.container-about{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
}
.profile-about-photo{
    width: 100%;
    border: 2px solid var(--color-border);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-about-photo img{
    width: 98%;
    height: 99%;
    object-fit: cover;
    object-position: center;
}


/* About Description  */
.profile-about-description{
    width: 100%;
    padding-left: 15px;
}
.about-description{
    width: 100%;
    border-bottom: 3px solid var(--color-border);
    margin-bottom: 20px;
}
.about-description h3{
    margin-top: 10px;
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--color-secundary);
}
.about-description p:nth-child(2){
    font-size: var(--font-size-);
    font-weight: bold;
    margin-bottom: 20px;
}
.about-description p{
    line-height: 1.8;
    font-size: var(--font-size-md);
    margin-bottom: 20px;
}
.data{
    width: 100%;
}
.data p{
    font-size: var(--font-size-md);
    padding: 10px;
    font-weight: bold;
    color: var(--color-secundary);
}
.data small{
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--color-black);
}
.btn{
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    font-size: var(--font-size-md);
    border-radius: 80px;
}
.btn-cv{
    margin-right: 40px;
    background-color: var(--color-secundary);
    color: var(--text-color-primary);
    border: none;
}


/* Container Estudios */
.container-section-estudios{
    width: 100%;
    padding: 40px 40px;
    display: grid;
    background-color: var(--color-border);
    border-top: 1px solid var(--text-color-primary);
    border-bottom: 1px solid var(--text-color-primary);
}
.section__estudios-container{
    width: 100%;
    display: grid;
    gap: 30px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
.section__estudios_title h2{
    font-size: var(--font-size-lg);
    padding-top: 20px;
    padding-bottom: 10px;
}
.section__estudios_title p{
    font-size: var(--font-size-md);
    padding-bottom: 20px;
}
.scene{
    width: 100%;
    height: 180px;
    perspective: 600px;
}
.card{
    width: 100%;
    height: 100%;
    transition: trasnform 2s;
    transform-style:preserve-3d;
    cursor: pointer;
    position: relative;
    border: 1px solid #ccc;

}
.is-flipped{
    transform: rotateY(180deg);
}
.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card__face--front{
    background-color: var(--text-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    color: var(--color-secundary);
    font-size: var(--font-size-xl);
}
.card__face--back{
    transform: rotateY(180deg);
    width: 100%;
    background-color: var(--text-color-primary);
}
.card__face--back ul{
    margin-top: 10px;
    font-size: var(--font-size-sm);
    color: #FFFFFF;
    text-align: center;
}
.card__face--back li{
    margin-bottom: 10px;
}
.card__face--back a{
    font-size: var(--font-size-sm);
    color: var(--color-black);
}
.card__face--back p{
    text-align: center;
    color: rgb(14, 229, 68);
}
.card:hover .card__face--front{transform: rotateY(180deg);}

.card:hover .card__face--back{transform: rotateY(360deg);}

/* CONTAINER PORTFOLIO */
.container-section-portfolio{
    padding: 40px 40px;
    width: 100%;
    border-bottom: 1px solid var(--text-color-primary);
}
.title-section-portfolio{
    padding: 20px 0px;
}
.card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 18px;
}
.card-container .scene{
    height: 280px;
}
.img_portfolio{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
/* SECTION FORM */
.container-section-contact{
    background-color: var(--color-border);
    width: 100%;
    padding: 40px 40px;
    border-bottom: 1px solid var(--text-color-primary);
}
.container-form{
    width: 100%;
}
.form{
    width: 100%;
    padding-bottom: 20px;
}
textarea{
    border: none;
    width: 100%;
    box-shadow: 1px 1px 1px 2px var(--color-border);
}
.section-title-contact{
    margin-bottom: 40px;
}
.section-title-contact p{
    margin-top: 20px;
    font-size: var(--font-size-md);
}
input{
    margin-bottom: 20px;
    padding: 10px;
    border: none;
}
.txt-name{
    width: 50%;
}
.txt-email{
    width: 49%;
}
.txt-subject{
    width: 100%;
}


/* Footer */

footer{
    width: 100%;
    background-color: var(--color-black);
    padding: 40px 40px;
}
.footer-contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid var(--color-border);
}
.btnf{
    padding: 20px;
    cursor: pointer;
    margin: 40px 0px;
}
.btnf>i{
    color: #dc3545;
    font-size: var(--font-size-lg);
    margin-bottom:10px;
}
.btnf>p{
    color: var(--text-color-primary);
}

.footer-redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-redes{
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.container-redes>i{
    padding: 10px;
    color: var(--text-color-primary);
    border-radius: 8px;
}
.container-redes:nth-child(1)>i{
    background-color: rgb(0, 174, 255);
}
.container-redes>i:nth-child(2){
    background-color: rgb(255, 0, 81);
}
.container-redes>i:nth-child(3){
    background-color: rgb(27, 42, 249);
}
.container-redes>i:nth-child(4){
    background-color: rgb(242, 5, 21);
}
.container-redes>i:nth-child(5){
    background-color: rgb(214, 5, 242);
}
.container-redes>i:nth-child(6){
    background-color: rgb(9, 5, 242);
}
.copyright{
    margin-top: 20px;
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: var(--font-size-sm);
}

.btn-sumit{
    border-radius:20px ;
    margin-top: 20px;
    background-color: var(--color-secundary);
    color: var(--text-color-primary);
    width: 150px;
    font-size: var(--font-size-md);
}

/* Menu Responsivo */
.nav-menu-responsive{
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    background-color: var(--color-black);;
    width: 80%;
    z-index: 1;
    
}
.container-nav-responsive{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-menu-responsive .enlaces .perfil-photo{
  padding: 0;
}
.nav-menu-responsive>.enlaces ul{
    margin-top: 20px;
    height: 80%;
}
.container-menu-mobile{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    z-index: 2;
    display: none;
}
#btn-menu{
    /* width: 100%; */
    display: none;
    position: fixed;
    color: var(--color-secundary);
    padding: 20px;
    left: 0;
    font-size: 20px;
    z-index: 3;
}

/* Responsive Design */
@media(max-width:836px) {
    .sidebar{
      display: none;  
    }
    .container-menu-mobile{
        display: block;
        
    }
    #btn-menu{
        display: block;
    }
    .container-principal{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .section-container{
        width: 100%;
    }
    .logo{
        width: 105px;
    }
    .title-name .name{
        font-size: var(--font-size-lg);
    }
    .work-description{
        font-size: var(--font-size-md);
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
    }
    .btnf{
        margin: 0;
        margin-left: 10px;
    }
    /* .card__face--back a{
    pointer-events: none; */
    }
    .footer-redes{
        margin-top: 20px;
        padding: 10px;
        flex-direction: column;
    }
    .container-redes{
        padding:10px;
        width: 100%;
    }
    .txt-name{
        width: 100%;
    }
    .txt-email{
        width: 100%;
    }
    .card-container .scene{
        height: 250px;
    }
    .scene{
        width: 100%;
        height: 170px;
        perspective: 600px;
    }
    .icons{
        color: var(--color-secundary);
        font-size: var(--font-size-lg);
    }
    .btntheme{
        position:fixed;
    }
}