@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Variables Generales */
:root{
    --color-black:#222222;
    --color-secundary:#dc3545;
    --text-color-primary:#FFFFFF;
    --color-border:rgb(234, 234, 234);
    --color-bg-secundary:rgb(218, 218, 218);
    --font-size-sm:12px;
    --font-size-md:16px;
    --font-size-lg:32px;
    --font-size-xl:64px;
}
/* Estilos Generales */
p::selection,
small::selection,
h3::selection,
h2::selection
{
    color: var(--text-color-primary);
    background-color: var(--color-secundary);
}
.container{
    display: flex;
    width: 100%;
}
.activo{
    color: var(--color-secundary);
}
body{
    font-family: 'Quicksand', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-container{
    width: 100%;
}

/* Sidebar Navegación */
.sidebar{
    position: sticky;
    top: 0px;
    width: 350px;
    height: 100vh;
    background-color:var(--color-black);
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.enlaces ul li{
    padding: 12px;
}
.enlaces a{
    font-size: var(--font-size-md);
    color: var(--text-color-primary);
}
.enlaces ul li a:hover{
    color: var(--color-secundary);
}


/* Perfil Profile */
.perfil{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}
.perfil p{
    color: var(--text-color-primary);
    font-size: var(--font-size-md);
}
.perfil p:nth-child(3) {
    color: var(--color-border);
    font-weight: 400;
    margin-top: 10px;
    font-size: var(--font-size-sm);
}
.perfil-photo{
    width: 120px;
    margin: 20px 0px;
    height: 120px;
    background: url("../img/80290606_2688262541241911_4132282224114401280_n.jpg"),center center;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid var(--color-border);
}
/* FIN DE SIDEBAR */



/* SECTION INICIO*/
.home-area{
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
}
.section-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/5926397/pexels-photo-5926397.jpeg?cs=srgb&dl=pexels-sora-shimazaki-5926397.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}
.title-name .name{
    color: var(--text-color-primary);
    font-size: var(--font-size-xl);
}
.color-name{
    color: var(--color-secundary);
}
.title-name{
    text-align: center;
}
.logo{
    width: 180px;
    margin: 0;
}
.work-description{
    color: var(--text-color-primary);
    font-size: var(--font-size-lg);
}



/* Section Container About */
.section-about-container{
    width: 100%;
    padding-left: 40px;
    padding-bottom: 40px;
}
.section-about-title{
    width: 100%;
    padding: 40px 0px;
}
.section-about-title >h2{
    font-size: var(--font-size-lg);
    margin: 10px 0;
    font-weight: bold;
}
.section-about-title p{
    font-size: var(--font-size-md);
}
.container-about{
    display: flex;
}
.profile-about-photo{
    height: 520px;
    width: 40%;
    border: 2px solid var(--color-border);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-about-photo img{
    width: 98%;
    height: 99%;
    object-fit: cover;
    object-position: center;
}


/* About Description  */
.profile-about-description{
    width: 55%;
    padding-left: 15px;
}
.about-description{
    width: 100%;
    border-bottom: 3px solid var(--color-border);
    margin-bottom: 20px;
}
.about-description h3{
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--color-secundary);
}
.about-description p:nth-child(2){
    font-size: var(--font-size-);
    font-weight: bold;
    margin-bottom: 20px;
}
.about-description p{
    line-height: 1.8;
    font-size: var(--font-size-md);
    margin-bottom: 20px;
}
.data{
    width: 100%;
}
.data p{
    font-size: var(--font-size-md);
    padding: 10px;
    font-weight: bold;
    color: var(--color-secundary);
}
.data small{
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--color-black);
}
.btn{
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    font-size: var(--font-size-md);
    border-radius: 80px;
}
.btn-cv{
    margin-right: 40px;
    background-color: var(--color-secundary);
    color: var(--text-color-primary);
    border: none;
}


/* Container Estudios */
.container-section-estudios{
    width: 100%;
    padding-left:40px;
    padding-bottom: 40px;
    display: grid;
    background-color: var(--color-border);
}
.section__estudios-container{
    width: 95%;
    display: grid;
    gap: 30px;
    margin-top: 20px;
    grid-template-columns: repeat(3,1fr);
}
.section__estudios_title h2{
    font-size: var(--font-size-lg);
    padding-top: 20px;
    padding-bottom: 10px;
}
.section__estudios_title p{
    font-size: var(--font-size-md);
    padding-bottom: 20px;
}
.scene{
    width: 100%;
    height: 180px;
    perspective: 600px;
    border: 1px solid #ccc;
}
.card{
    width: 100%;
    height: 100%;
    transition: trasnform 2s;
    transform-style:preserve-3d;
    cursor: pointer;
    position: relative;
}
.is-flipped{
    transform: rotateY(180deg);
}
.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card__face--front{
    background-color: var(--text-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    color: var(--color-secundary);
    font-size: var(--font-size-xl);
}
.card__face--back{
    background-color: var(--color-black);
    transform: rotateY(180deg);
    width: 100%;
}
.card__face--back ul{
    margin-top: 10px;
    font-size: var(--font-size-sm);
    color: #FFFFFF;
    text-align: center;
}
.card__face--back li{
    margin-bottom: 10px;
}
.card__face--back a{
    font-size: var(--font-size-sm);
    color: var(--text-color-primary);
}
.card__face--back p{
    text-align: center;
    color: rgb(14, 229, 68);
}
.card:hover .card__face--front{transform: rotateY(180deg);}

.card:hover .card__face--back{transform: rotateY(360deg);}


.container-section-portfolio{
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.title-section-portfolio{
    padding: 20px 0px;
}
.card-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2,420px);
    gap: 20px;
}